{% extends 'layout.html' %} {% block content %}
<div class="ticket">
  {% for data in datas%}
  <div class="ticket-card">
    <div class="image-event">
      <img src={{ data.image }} class="image-ticket" />
    </div>
    <div class="event-infoCard">
      <div class="eventTitle"><span>Titre:</span> {{data.title}}</div>
      <div class="dateInfo">
        <div class="event-date"><span>Date et Heure:</span> {{data.date.strftime('%a, %d %B %Y')}}</div>
        <div class="event-hour">{{data.heure}}</div>
        {%if data.remains < 0 %}
           <h1 id="checkAvailable">Available</h1>
        {%else%}
          <h1 id="checkAvailable">Unavailable</h1>
        {%endif%}
      </div>
      <div class="event-place">Lieu: <span>{{data.lieu}}</span> </div>
      <div class="event-author"> Auteur: 
        <a href="{{url_for('profileuser', user_id = data.author_id)}}"
          >{{data.author}}</a
        >
      </div>
      <divc class="buttonEventview">
          <a
          
            href="{{url_for('ticket', event_id=data.id, user_id=current_user.id)}}"
            ><button id="successButton">Je prends mon ticket</button></a
          >
      </div>
    </div>
  </div>
  {%endfor%}
</div>
<script>
 let variable = document.querySelector('#checkAvailable')
 var button = document.querySelector('#successButton')
 if (variable.textContent==='Unavailable'){
    button.disabled =button
 }
console.log(variable.textContent)
</script>
{% endblock %}
