{% extends 'layout.html' %} {% block content %}

<div class="form">
    <form method="post" class="inscription">
        {{ form.hidden_tag() }}
        <div class="title-form">
            <h1>Inscription</h1>
        </div>
        <div class="form">
            <div class="form-items">
                <div class="form-items">
                    <div class="firstName-info">
                        <div>{{form.firstName.label(class='firstName-label')}}</div>
                        {% if form.firstName.errors %} {{ form.firstName}}
                        <div class="invalid-feedback">
                            {% for error in form.firstName.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div>{{form.firstName(class='firstName-input')}}</div>
                        {% endif %}
                    </div>
                    <div class="lastName-info">
                        <div>{{form.lastName.label(class='lastName-label')}}</div>
                        {% if form.lastName.errors %} {{ form.lastName}}
                        <div class="invalid-feedback">
                            {% for error in form.lastName.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div>{{form.lastName(class='lastName-input')}}</div>
                        {% endif %}
                    </div>
                    <div class="email-info">
                        <div>{{form.email.label(class='email-label')}}</div>
                        {% if form.email.errors %} {{ form.email(class='email-input')}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div>{{form.email(class='email-input')}}</div>
                        {% endif %}
                    </div>
                    <div class="password-info">
                        <div>{{form.password.label(class='password-label')}}</div>
                        {% if form.password.errors %} {{ form.password(class='password-input') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div>{{form.password(class='password-input')}}</div>
                        {% endif %}
                    </div>
                    <div class="cpassword-info">
                        <div>{{form.cpassword.label(class='cpassword-label')}}</div>
                        {% if form.cpassword.errors %} {{ form.cpassword(class='cpassword-input') }}
                        <div class="invalid-feedback">
                            {% for error in form.cpassword.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div>{{form.cpassword(class='cpassword-input')}}</div>
                        {% endif %}
                    </div>
                    <div class="bouton-submit">
                        {{form.submit(id='sumit')}}
                    </div>
                    <div class="account">
                        <small>Vous avez déjà un compte?
                            <a href="{{url_for('login')}}">Connectez-vous</a></small>
                    </div>
                </div>
            </div>
    </form>
</div>
{% endblock content %}