<div class="section-third">
  <div class="category">
    <h2 class="text-category">Catégories</h2>
  </div>
  <div class="categories">
    <a href="{{url_for('gastronomie')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/kawaii-soda.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Gastronomie</div>
      </button>
    </a>
    <a href="{{url_for('sport')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/trophy.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Sport</div>
      </button>
    </a>
    <a href="{{url_for('environnement')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/healthy-food.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Environnement</div>
      </button>
    </a>
    <a href="{{url_for('musique')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/music.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Musique</div>
      </button>
    </a>
    <a href="{{url_for('education')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/education.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Education</div>
      </button>
    </a>
    <a href="{{url_for('formation')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/training.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Formation</div>
      </button>
    </a>
    <a href="{{url_for('voyages')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/suitcase.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Voyages</div>
      </button>
    </a>
    <a href="{{url_for('art_du_spectacle')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/comedy.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Art du spétacle</div>
      </button>
    </a>
    <a href="{{url_for('affaire')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/meeting-room.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Affaire</div>
      </button>
    </a>
    <a href="{{url_for('loisirs')}}" class="link-category">
      <button class="category-card">
        <div class="carre">
          <img
            src="https://img.icons8.com/dotty/160/b3001b/game-controller.png"
            class="category-icon"
          />
        </div>
        <div class="carre">Loisirs</div>
      </button>
    </a>
  </div>
</div>
