{% extends 'layout.html' %} {% block content %}
<div class="ticket">
  {% for data in datas%}
  <div class="ticket-card">
    <div class="image-event">
      <img src={{ data.image }} class="image-ticket" />
    </div>
    <div class="event-infoCard">
      <div class="eventTitle">{{data.title}}</div>
      <div class="dateInfo">
        <div class="event-date">{{data.date}}</div>
        <div class="event-hour">{{data.heure}}</div>
      </div>
      <div class="event-place">{{data.lieu}}</div>
      <div class="event-author">
        <a href="{{url_for('profileuser', user_id = data.author_id)}}"
          >{{data.author}}</a
        >
      </div>
      <div>
          <a
            href="{{url_for('ticket', event_id=data.id, user_id=current_user.id)}}"
            ><button>Je participe</button></a
          >
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}
